*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    z-index: 999;

    
}

.item1{
    padding: 10px;
    background-color:black;
    display: flex;
    gap: 20px;
    color: white;
    position: relative;
       
}

.bi-search{

    color: white;
    position: absolute;
    right: 0px;
    font-size:17px;
}
.item2{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.bi{
    color: white;
    margin: 10px;
    
}
.con{
    font-size: 15px;
    position: absolute;
    top: 135px;
    left: 110px;
    color: white;
}
.con1{
    font-size: 15px;
    position: absolute;
    color: white;
    top:135px;
    left:245px;
}
.con2{
    font-size: 15px;
    position: absolute;
    color:white;
    top:135px;
    left:350px;
}
.con3{
    font-size: 15px;
    position: absolute;
    color:white;
    top:135px;
    left:500px;
}
.con4{
    font-size: 15px;
    position: absolute;
    color: white;
    top:135px;
    left:640px;
}
.con5{
    font-size: 15px;
    position: absolute;
    color: white;
    top:135px;
    left: 775px;
}
.con6{
    font-size: 15px;
    position: absolute;
    color: white;
    top: 135px;
    right: 500px;
}
.con7{
    font-size: 15px;
    position: absolute;
    color: white;
    top:135px;
    right:320px;

}
.con8{
    font-size: 15px;
    position: absolute;
    color: white;
    top:135px;
    right:200px;
}
.con9{
    font-size: 15px;
    position: absolute;
    color: white;
    top:135px;
    right:100px;
}
.stu{
    color: white;
    top:100px;
    position: absolute;
    font-size: 15px;
    left:120px;

}
.stu2{
    color: white;
    top:100px;
    position: absolute;
    font-size: 15px;
    left:255px;
}
.stu3{
    color: white;
    top: 100px;
    position: absolute;
    font-size: 15px;
    left: 400px;
}
.stu4{
    color: white;
    top:100px;
    position: absolute;
    font-size: 15px;
    left: 520px;
}
.stu5{
    color: white;
    top:100px;
    position: absolute;
    font-size: 15px;
    left:660px;
}
.soo{
    color: white;
    position: absolute;
    top:100px;
    font-size: 12px;
    left:395px;
}
.cont1{
    color:red;
    position: absolute;
    top:153px;
    font-size: 20px;
    left:290px;
    background-color:green;
    padding: 13px;
    
}
.sub1{
    color: white;
    position: absolute;
    top:153px;
    padding: 15px;
    background-color: green;
    left: 350px;
    z-index: 999;

}
.cont2{
    color:white;
    background-color: green;
    top:153px;
    font-size: 20px;
    position: absolute;
    padding: 13px;
    left:510px;
}
.cont3{
    color: white;
    background-color: green;
    top:153px;
    font-size: 20px;
    position: absolute;
    padding: 13px;
    left: 560px;
}
.cont4{
    color: white;
    background-color: red;
    top:153px;
    font-size: 20px;
    position: absolute;
    padding: 13px;
    left:610px;
}
.sub2{
    color: white;
    background-color: red;
    top: 153px;
    font-size: 20px;
    position: absolute;
    padding: 13px;
    z-index: 999;
    left:650px;
}
.ooo{
    top:200px;
    position: absolute;
}
.item10{
    background-color: black;
    color: white;
    top:100px;
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;

}
.bro1{
    top:350px;
    position: absolute;
}
.bro{
    width:100%;
    height: 900px;
    border: 5px solid black;
    bottom:-120px;
    position: absolute;

}
img{
    
    width:100%;
    height: 500px;
    position: absolute;
    bottom: -100px;
}
.cls2{
    top:720px;
    position: absolute;
    color: white;
    right: 600px;
    font-size: 30px;
}

